footer {
  width: 100%;
  height: auto;
  min-height: 114px;
  background-color: $black2;
  color: white;
  display: flex;
  flex-direction: column;

  .footer-content {
    width: 100%;
    padding-inline: 25px;
    padding-block: clamp(1.375rem, 0.975rem + 1.6vw, 1.875rem);
    margin-top: auto;
    align-self: flex-end;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    .footer-logo {
      height: 27px;
      width: 138px;
      font-size: 19px;
      font-family: $font3;
    }

    .footer-links-container {
      display: grid;
      gap: 7px;

      .link1,
      .link2 {
        width: 190px;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 12px;

        svg {
          height: 13px;
          width: 12px;
          fill: white;
        }
      }

      .link3, .link4 {
        width: 130px;
      }
    }
  }
}

@media only screen and (min-width: 400px) {
  footer {
    .footer-content {
      grid-template-columns: 1fr 139px;
      grid-template-areas: "foolc foolog";
      .footer-logo {
        grid-area: foolog;
        justify-self: end;
        align-self: end;
      }

      .footer-links-container {
        grid-area: foolc;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .footer-links-container {
        grid-template-columns: repeat(4, auto);
        justify-content: end;
        align-items: end;
      }

}

// @media only screen and (min-width: 1240px) {
//   .footer-links-container {
//         display: flex;
//         flex-direction: row;
//       }

// }
