@font-face {
  font-family: "roboto-regular";
  src: url(../assets/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "roboto-thin";
  src: url(../assets/fonts/Roboto-Thin.ttf);
}
@font-face {
  font-family: "shrikhand";
  src: url(../assets/fonts/Shrikhand-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  height: 100vh;
  height: 100dvh;
  width: 100%;
  width: 100vw;
  min-width: 320px;
  max-width: 1440px;
  margin-inline: auto;
  font-family: roboto-regular, sans-serif;
  font-size: 16px;
  background-color: white;
  overflow-x: hidden;
  overflow-x: clip;
}

.home-main-container,
.restaurants-main-container {
  width: 100%;
  height: auto;
  font-family: roboto-regular, sans-serif;
}

main {
  width: 100%;
}

h2,
h3 {
  font-weight: 700;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

li {
  list-style: none;
}

a,
a:visited {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

path {
  width: 100%;
  height: 100%;
}

.favorite-button, button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

button {
  color: white;
  font-weight: 600;
}

.home-main-container .header-container {
  width: 100%;
  display: grid;
}
.home-main-container .header-container .nav-and-title {
  width: 100%;
  height: clamp(3.9375rem, 2.6175rem + 5.28vw, 6rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  z-index: 20;
}
.home-main-container .header-container .nav-and-title .main-title {
  width: auto;
}
.home-main-container .header-container .nav-and-title .main-title h1 {
  font-family: shrikhand, serif;
  color: #101010;
  font-size: clamp(1.875rem, 1.6rem + 1.12vw, 2.3125rem);
  font-weight: 400;
}
.home-main-container .header-container .location-container {
  width: 100%;
  height: 50px;
  color: #353535;
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.home-main-container .header-container .location-container svg {
  width: 12px;
  height: 16px;
  fill: #353535;
}
.home-main-container .header-container .location-container p {
  font-weight: 600;
}

@media only screen and (min-width: 1240px) {
  .home-main-container .header-container .nav-and-title {
    z-index: initial;
  }
  .home-main-container .header-container .location-container {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
.home-main-container main .hero {
  width: 100%;
  height: 287px;
  padding: 39px 30px 56px;
  background-color: #f6f6f6;
  display: grid;
  justify-items: center;
  text-align: center;
}
.home-main-container main .hero h2 {
  font-size: clamp(1.5rem, 0.0882rem + 3.7647vw, 2.5rem);
  margin: 0 7%;
  letter-spacing: 1px;
}
.home-main-container main .hero p {
  font-family: roboto-thin, sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #353535;
}

@media only screen and (min-width: 600px) {
  .home-main-container main .hero {
    height: 239px;
    padding: 30px 0;
  }
  .home-main-container main .hero h2 {
    letter-spacing: 0;
  }
  .home-main-container main .hero p {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.home-main-container main .how-it-works {
  width: 100%;
  height: 440px;
  display: grid;
  grid-template-rows: 31px 1fr;
  gap: 25px;
  padding-top: 48px;
  padding-bottom: 68px;
  padding-inline: clamp(20px, -3.52rem + 19vw, 180px);
}
.home-main-container main .how-it-works .steps-container {
  width: 100%;
  height: 100%;
  padding-left: 12px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "st1" "st2" "st3";
  gap: 25px;
}
.home-main-container main .how-it-works .steps-container .step {
  width: 100%;
  max-width: 323px;
  height: 100%;
  border-radius: 20px;
  background-color: #f6f6f6;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.home-main-container main .how-it-works .steps-container .step span {
  position: absolute;
  width: 24px;
  height: 24px;
  left: -12px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 50%;
  background-color: #9356dc;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home-main-container main .how-it-works .steps-container .step svg {
  position: absolute;
  left: 43px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  fill: #7e7e7e;
  -webkit-transition: fill 0.2s;
  transition: fill 0.2s;
}
.home-main-container main .how-it-works .steps-container .step p {
  position: absolute;
  left: 74px;
  font-weight: 600;
}
.home-main-container main .how-it-works .steps-container .step:hover svg {
  fill: #9356dc;
}
.home-main-container main .how-it-works .steps-container .step1 {
  grid-area: st1;
  justify-self: start;
}
.home-main-container main .how-it-works .steps-container .step1 svg {
  width: 13px;
  height: 19px;
}
.home-main-container main .how-it-works .steps-container .step2 {
  grid-area: st2;
  justify-self: center;
}
.home-main-container main .how-it-works .steps-container .step2 svg {
  width: 16px;
  height: 16px;
}
.home-main-container main .how-it-works .steps-container .step3 {
  grid-area: st3;
  justify-self: end;
}
.home-main-container main .how-it-works .steps-container .step3 svg {
  width: 18px;
  height: 18px;
}

@media only screen and (min-width: 1240px) {
  .home-main-container main .how-it-works {
    height: 229px;
    padding: 50px 180px;
  }
  .home-main-container main .how-it-works .steps-container {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 36px;
  }
}
.home-main-container main .restaurants-container {
  width: 100%;
  padding-top: 54px;
  padding-bottom: 66px;
  padding-inline: clamp(17px, -3.8rem + 19.4vw, 180px);
  background-color: #f6f6f6;
  display: grid;
  grid-template-rows: 31px 1fr;
  gap: 25px;
}
.home-main-container main .restaurants-container h2 {
  margin-left: 3px;
}
.home-main-container main .restaurants-container .restaurants-list {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  gap: 18px;
}
.home-main-container main .restaurants-container .restaurants-list .restaurant-card {
  height: 251px;
  width: 100%;
  max-width: 490px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  display: grid;
  position: relative;
}
.home-main-container main .restaurants-container .restaurants-list .restaurant-card a {
  width: 100%;
  overflow: hidden;
}
.home-main-container main .restaurants-container .restaurants-list .restaurant-card a img {
  width: 100%;
  height: 180px;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-main-container main .restaurants-container .restaurants-list .restaurant-card .badge {
  position: absolute;
  width: 80px;
  height: 29px;
  top: 13px;
  right: 13px;
  font-size: 14px;
  font-weight: 600;
  background-color: #99e2d0;
  color: #008766;
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home-main-container main .restaurants-container .restaurants-list .restaurant-card .restaurant-info {
  height: 71px;
  padding: 13px;
  display: grid;
  grid-template-columns: 65% 35%;
}
.home-main-container main .restaurants-container .restaurants-list .restaurant-card .restaurant-info .info-left p {
  font-family: roboto-thin, sans-serif;
  font-size: 17px;
  letter-spacing: 1px;
  margin-top: 5px;
}
.home-main-container main .restaurants-container .restaurants-list .restaurant-card .restaurant-info .info-right {
  padding: 10px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.home-main-container main .restaurants-container .restaurants-list .restaurant-card .restaurant-info .info-right .heart-switch {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 22px;
  height: 22px;
}
.home-main-container main .restaurants-container .restaurants-list .restaurant-card .restaurant-info .info-right input {
  display: none;
}
.home-main-container main .restaurants-container .restaurants-list .restaurant-card .restaurant-info .info-right .heart {
  width: 22px;
  height: 22px;
  position: relative;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.home-main-container main .restaurants-container .restaurants-list .restaurant-card .restaurant-info .info-right .heart::before {
  content: "";
  position: absolute;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/icons/heart-regular.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.home-main-container main .restaurants-container .restaurants-list .restaurant-card .restaurant-info .info-right .heart::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  -webkit-mask-image: url("../assets/images/icons/heart-solid.svg");
          mask-image: url("../assets/images/icons/heart-solid.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.home-main-container main .restaurants-container .restaurants-list .restaurant-card .restaurant-info .info-right .heart-switch input:checked + .heart::after {
  opacity: 1;
}

@media only screen and (min-width: 1240px) {
  .home-main-container main .restaurants-container {
    height: auto;
    padding: 30px 180px;
  }
  .home-main-container main .restaurants-container .restaurants-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 100px;
  }
}
.restaurants-main-container .header-container {
  width: 100%;
  height: clamp(3.9375rem, 2.6175rem + 5.28vw, 6rem);
  padding: 17px;
}
.restaurants-main-container .header-container .nav-and-logo {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.restaurants-main-container .header-container .nav-and-logo .back-icon {
  height: 30px;
  width: 30px;
}
.restaurants-main-container .header-container .nav-and-logo .back-icon a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.restaurants-main-container .header-container .nav-and-logo .back-icon a img {
  width: auto;
  height: 16px;
}
.restaurants-main-container .header-container .nav-and-logo .main-title {
  width: auto;
}
.restaurants-main-container .header-container .nav-and-logo .main-title h1 {
  font-family: shrikhand, serif;
  color: #101010;
  font-size: clamp(1.875rem, 0.5625rem + 2.7344vw, 2.3125rem);
  font-weight: 400;
}
.restaurants-main-container .header-container .nav-and-logo .empty-icon {
  width: 30px;
  height: 30px;
}

.restaurant-hero {
  width: 100%;
  height: clamp(15.75rem, 10.51rem + 20.96vw, 23.9375rem);
}
.restaurant-hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants-main-container .menu {
  width: clamp(23.4375rem, 7.0913rem + 65.3846vw, 65.9375rem);
  max-width: 1055px;
  height: auto;
  margin-inline: auto;
  background-color: #f6f6f6;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.restaurants-main-container .menu .container {
  display: grid;
  gap: 40px;
  margin-top: clamp(0rem, -0.4407rem + 1.7628vw, 0.6875rem);
}
.restaurants-main-container .menu .container .menu-title {
  width: 100%;
  height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.restaurants-main-container .menu .container .menu-title h1 {
  font-family: shrikhand, serif;
  font-size: 28px;
  font-weight: 400;
}
.restaurants-main-container .menu .container .menu-title .heart-switch {
  position: relative;
  width: 22px;
  height: 22px;
  margin-right: 28px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.restaurants-main-container .menu .container .menu-title input {
  display: none;
}
.restaurants-main-container .menu .container .menu-title .heart {
  width: 22px;
  height: 22px;
  position: relative;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.restaurants-main-container .menu .container .menu-title .heart::before {
  content: "";
  position: absolute;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/icons/heart-regular.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.restaurants-main-container .menu .container .menu-title .heart::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  -webkit-mask-image: url("../assets/images/icons/heart-solid.svg");
          mask-image: url("../assets/images/icons/heart-solid.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.restaurants-main-container .menu .container .menu-title .heart-switch input:checked + .heart::after {
  opacity: 1;
}
.restaurants-main-container .menu .container .order-button {
  margin-bottom: 40px;
}
.restaurants-main-container .menu .container .menu-section {
  display: grid;
  gap: 12px;
  width: clamp(349px, 10.4125rem + 45.6vw, 634px);
}
.restaurants-main-container .menu .container .menu-section h2 {
  font-size: 16px;
  font-family: roboto-thin, sans-serif;
  height: 27px;
  text-transform: uppercase;
  position: relative;
}
.restaurants-main-container .menu .container .menu-section h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 40px;
  background-color: #99e2d0;
}
.restaurants-main-container .menu .container .menu-section .menu-item {
  border-radius: 15px;
  background-color: white;
  padding: 15px 13.5px 13.5px;
  display: grid;
  grid-template-columns: 1fr 27px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "nam pri" "des pri";
  gap: 5px;
  -webkit-box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}
.restaurants-main-container .menu .container .menu-section .menu-item .item-name {
  grid-area: nam;
  font-size: 18px;
  font-weight: 600;
  align-self: center;
}
.restaurants-main-container .menu .container .menu-section .menu-item .item-description {
  grid-area: des;
  font-size: 15px;
  font-family: roboto-thin, sans-serif;
  align-self: center;
}
.restaurants-main-container .menu .container .menu-section .menu-item .item-price {
  grid-area: pri;
  font-size: 15px;
  font-weight: 700;
  align-self: end;
  justify-self: end;
}
.restaurants-main-container .menu .container .menu-section .menu-item::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 70px;
  background-color: #99e2d0;
}
.restaurants-main-container .menu .container .order-button {
  margin-inline: auto;
}
.restaurants-main-container .menu .container .order-button button {
  font-size: 16px;
}
.restaurants-main-container .menu::before {
  content: "";
  position: absolute;
  top: -2rem;
  left: 0;
  right: 0;
  width: 100%;
  height: 2rem;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
}

@media only screen and (min-width: 400px) {
  .restaurants-main-container .menu-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 41px !important;
    gap: 24px;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .restaurants-main-container .menu-title .heart-switch {
    margin-right: 0 !important;
    -ms-flex-item-align: center !important;
        align-self: center !important;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurants-main-container .menu::before {
    top: -2.5rem;
    height: 2.5rem;
  }
}
footer {
  width: 100%;
  height: auto;
  min-height: 114px;
  background-color: #353535;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer-content {
  width: 100%;
  padding-inline: 25px;
  padding-block: clamp(1.375rem, 0.975rem + 1.6vw, 1.875rem);
  margin-top: auto;
  align-self: flex-end;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
footer .footer-content .footer-logo {
  height: 27px;
  width: 138px;
  font-size: 19px;
  font-family: shrikhand, serif;
}
footer .footer-content .footer-links-container {
  display: grid;
  gap: 7px;
}
footer .footer-content .footer-links-container .link1,
footer .footer-content .footer-links-container .link2 {
  width: 190px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
footer .footer-content .footer-links-container .link1 svg,
footer .footer-content .footer-links-container .link2 svg {
  height: 13px;
  width: 12px;
  fill: white;
}
footer .footer-content .footer-links-container .link3, footer .footer-content .footer-links-container .link4 {
  width: 130px;
}

@media only screen and (min-width: 400px) {
  footer .footer-content {
    grid-template-columns: 1fr 139px;
    grid-template-areas: "foolc foolog";
  }
  footer .footer-content .footer-logo {
    grid-area: foolog;
    justify-self: end;
    align-self: end;
  }
  footer .footer-content .footer-links-container {
    grid-area: foolc;
  }
}
@media only screen and (min-width: 900px) {
  .footer-links-container {
    grid-template-columns: repeat(4, auto);
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}
.cta-button {
  height: 50px;
  width: 218px;
  border-radius: 50px;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  color: white;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  -ms-flex-item-align: end;
      align-self: end;
  -webkit-transition: background 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, box-shadow 0.3s;
  transition: background 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.cta-button:hover {
  background: linear-gradient(193.33deg, #9e67e0 -11.44%, #ff8de0 123.93%);
  -webkit-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.35);
}/*# sourceMappingURL=index.css.map */